# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=pass
DB_DATABASE=smartbox

# Application Configuration
PORT=3000
NODE_ENV=dev

JWT_SECRET=your-secure-secret-key
JWT_EXPIRATION=1h

DIRECT4ME_TOKEN=23032i5-0i23-05i23-05-example
DIRECT4ME_BASEURL=https://api-d4me-stage.direct4.me/sandbox/v1/Access/openbox